VITE_AZURE_CLIENT_ID=xxxxxxxx
VITE_AZURE_TENANT_ID=xxxxxxxx
VITE_AZURE_REDIRECT_URI=http://localhost:5173

# Backend protegido: AWS API Gateway + JWT authorizer (Entra ID)
VITE_API_BASE_URL=https://xxxxxxxxxx.execute-api.us-east-1.amazonaws.com
VITE_API_SCOPE=api://xxxxxxxx/orders.read api://xxxxxxxx/orders.write
